header{
    color: blue;
    font-size: 50px;
    font-weight: 900;
    background-color: brown;
    border-radius: 100px;
}
article p{
    color: green;
}
article h2,h3 {
    color: darkorange;
}